body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #7C8DB0;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 40px;
}

.header-nav {
  padding: 0 40px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  color: #605DEC;
  font-size: 30px;
}

.active-home-link {
  font-weight: bold;
  color: #605DEC;
  font-size: 30px;
}

.active {
  color: #605DEC;
}


.wrapper {
  height: 700px;
  background-image: url(./img/map.png);
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 90px;
  width: 750px;
  text-align: center;
  margin-top: 90px;
  background: -webkit-linear-gradient(125.13deg, #605DEC 46.01%, #C08FFE 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

table {
  width: 100%;
}

td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  height: 40px;
}

.user-link {
  color: #605DEC;
  border: 1px solid #605DEC;
  padding: 3px 9px;
}

.user-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.user-heading {
  font-size: 24px;
  color: #6E7491;
  line-height: 33px;
}

.user-details {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #6E7491;
}

.back-link {
  margin-top: 20px;
  font-size: 20px;
  color: #605DEC;
}

.error-box {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

.error-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.error-code {
  font-size: 36px;
  font-weight: 600;
}

.loggedin-user {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  border-radius: 50%;
  border: 1px solid #E9E8FC;
}

img {
  width: 100%;
}